body{
    background-color: rgb(190, 190, 190);
}

.element{
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    margin:10px; 
    padding:10px;
}

h1{
    text-align: center;
    margin-top: 10px;
}

.searching{
    background-color: beige;
    border-radius: 10px;
}

.searching ul{
    list-style: none;
}

label, output {
    /*text-decoration : underline; */
    font-weight : bold;
    color : black;
}

.card-header{
    display:flex; 
    justify-content:space-between;
}
