body {
    background-color: rgb(190, 190, 190);
}

.element {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.searching {
    background-color: beige;
    border-radius: 10px;
}

.searching ul {
    list-style: none;
}

label,
output {
    /*text-decoration : underline; */
    font-weight: bold;
    color: black;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow: hidden;
}

.rating a {
    float: right;
    color: rgb(90, 90, 90);
    font-size: bold;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating a:hover,
.rating a:hover~a,
.rating a:focus,
.rating a:focus~a {
    color: rgb(206, 134, 0);
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 a {
    float: none
}