body {
    background-color: rgb(153, 196, 253);
}

.element {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

img {
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.searching {
    background-color: beige;
    border-radius: 10px;
}

.searching ul {
    list-style: none;
}

label,
output {
    /*text-decoration : underline; */
    font-weight: bold;
    color: black;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.rateBar {
    display: flex;
}

.star {
    width: 30px;
    height: 30px;
}